body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: inline;
  flex-direction: row;
}
.user-details-styles {
  margin: 5px;
  border: 1px solid;
}
.user-fields {
  margin: 4px;
  border-bottom: 1px solid;
}
.no-border {
  border: none;
}
.user-field-label {
  width: 30%;
  text-align: center;
  padding: 4px;
  display: inline-block;
}

.game-info {
  margin-left: 20px;
}
